<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <p>email is: <%= current_user.email %></p>
  <p>first_name is: <%= current_user.first_name %></p>
  <p>last_name is: <%= current_user.last_name %></p>
<% end %>